* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.meow {
	font-size: 5em;
}

#funHeader {
	font-family: Helvetica, sans-serif;
}

#fun {
	background-color: rgb(0, 0, 0);
	height: 100vh;
	color: white;
}

#fun p {
	width: 800px;
}

#fun button {
	box-shadow: 3px 3px 0px #ffffff;
	background-color: transparent;
	border-radius: 5px;
	padding: 10px 20px;
	a {
		color: white;
	}
}

#fun button:hover {
	cursor: pointer;
}

button {
	font-size: 2em;
	text-align: center;
}

img {
	filter: invert(1);
	border-radius: 5px;
	width: 350px;
	height: auto;
	margin: 25px 0;
}

.neutral {
	background-color: rgb(255, 255, 255);
	height: 100vh;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-size: 12em;
}

p {
	font-size: 3em;
}

div {
	padding: 10px 0;
	width: 200px;
	aspect-ratio: 1;
}

mark {
	font-size: .5em;
}

img {
	width: 500px;
	height: auto;
	&:hover {
		cursor: pointer;
	}
}
