@font-face {
  font-family: "Punk";
  src: url(../font/Helvetica_Punk.ttf);
}

body {
	background-color: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

h1 {
	font-family: "Punk", Arial, sans-serif;
	color: hotpink;
}

p {
	color: white;
}

q {
	color: white;
	width: 300px;
}

img {
	width: 750px;
	height: auto;
}